<form class="create-survey-form" method="post" action="/surveys/new">
  <label for "title">Title:</label>
  <input id="title" type="text" name="survey[title]" placeholder="Enter Survey Title"></input>

  <label for "description">Description:</label>
  <textarea id="description" name="survey[description]" placeholder="Description (Optional)"></textarea>
  <input type="submit" value="Create Survey"></input>
</form>

