body {
    background-color: white;
    background-image: ;
}

header {
    text-align: center;
    font-size: 10em;
}

#content {
    border: 1px solid black;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 5%;
}

.login-form{
    border: 1px solid black;

    padding: 10px;
    background-color: #77b93d;
}

.signup-form{
    border: 1px solid black;

    padding: 10px;
    background-color: #77b93d;
}

.form-title{
    border: 1px solid black;
    text-align: center;
    background-color: #77b93d;
    color: white;
    padding: 10px;
    font-size: 1em;
}

.errors {
    border: 1px solid black;
    text-align: center;
    background-color: #ffff00;
    color: black;
    font-weight: bolder;
    font-size: 2em;
    padding: 10px;
}

.navbar {
        border-bottom: 1px solid black;
        padding: 5px;
        background-color: black;
        text-align: right;
}

.navbar li a {
    text-decoration: none;
    color: white;
}

.login-welcome {
    font-family: Lato;
    font-size: 2em;
    text-align: center;
    background-color: #77b93d;
    padding: 1em;
}

.survey-link {
    color: black;
    /*text-decoration: none;*/
    font-size: 2em;
}

.create-survey-form {
    background-color: #77b93d;
    /*TODO: break each form box to a new line*/
}



