body {
    background-color: gray;
    background-image: ;
}

header {
    text-align: center;
    font-size: 10em;
    border-bottom: 1px solid black;

}

#content {
    border: 1px solid black;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 5%;
}

.login-form{
    border: 1px solid black;

    padding: 10px;
    background-color: #77b93d;
}

.signup-form{
    border: 1px solid black;

    padding: 10px;
    background-color: #77b93d;
}

.form-title{
    border: 1px solid black;
    text-align: center;
    background-color: #77b93d;
    color: white;
    padding: 10px;
    font-size: 1em;
}

.errors {
    border: 1px solid black;
    text-align: center;
    background-color: #ffff00;
    color: black;
    font-weight: bolder;
    font-size: 2em;
    padding: 10px;
}

