  <% if @error %>
<div class="errors">
    <%= @error %>
</div>
  <% end %>

<p class="form-title">Please login </p>
<div class="login-form">
  <form method="post" action="/login">
    <label>Username:</label>
    <input type="text" name="user[username]"placeholder="Ex: akls123">
    <label>Password:</label>
    <input type="password" name="user[password]" placeholder="Password"><input type="submit" value="login">
  </form>
</div>


<p class="form-title">Please register</p>
<div class="signup-form">
  <form method="post" action="/signup">
    <label>Username:</label>
    <input type="text" name="new_user[username]" placeholder="Ex: akls123">
    <label>Password:</label>
    <input type="password" name="new_user[password]" placeholder="Password"><input type="submit" value="signup">
  </form>
</div>
