<h2> <%= @survey.title %> </h2>

<div>
  <ul>
    <% @questions.each do |question| %>
    <li><%= question.prompt %></li>
      <% question.choices.each do |choice| %>
    <ul>
      <li> <%= choice.selection %>: <%= @user.user_responses.where(choice_id: choice.id).length
%></li>
    </ul>
      <% end %>
    <% end %>
  </ul>
</div>


