<div class="survey-list">
  <ul>
    <% @surveys.each do |survey| %>
      <li><a class="take-survey-link" id='<%= survey.id %>' href="/surveys/<%= survey.id %>"><%= survey.title %></li>
    <% end %>
  </ul>
</div>
