<div>
  <form method="post" action="/surveys/<%= @survey.id %>">
  <% @questions.each do |question| %>
    <%= erb :'surveys/question', locals: {question: question}, layout: false %>
  <% end %>
  <input type="submit" value="submit" />
  </form>
 </div>

