<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato&effect=destruction">


  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>SurveyFrog: Leap Over Your Competition</title>
</head>
<body>
  <header class="font-effect-destruction">SurveyFrog</header>
  <div class="menu">
<!--     TODO: Abstract out line 27 into helper method
 -->
  <% if logged_in? %>
   <% @user = find_user %>
     <ul class="navbar">
      <li>
        <a href="/surveys/index">Home |</a>
        <a href="/logout">Logout |</a>
        <a href="/users/<%=@user.id %>"><%= find_user.username %></a>
      </li>
    </ul>
    <% end %>
  </div>
<div id="content">
  <%= yield %>
</div>
</body>
</html>
